<h1 class="text-3xl">Precios del servicio</h1>
<hr class="my-2">

<section>
  <p class="mb-4">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum autem doloribus veritatis exercitationem sunt! Harum possimus ipsam odio quos corrupti aperiam, animi magni exercitationem unde. Vitae optio itaque quasi nemo.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime temporibus provident totam voluptatem nihil a eius dignissimos libero nostrum qui, atque nulla, et id officiis molestias possimus ipsum nobis. Deleniti!
  </p>
</section>
